<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743323809355-7q88neefg5in4qlfebli3kq9s4586nd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743323809355-7q88neefg5in4qlfebli3kq9s4586nd5</string>
	<key>API_KEY</key>
	<string>AIzaSyDPqDVIK0z4Xn5eu8Tqd948H3tvjBlHYJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>743323809355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oonzooApp</string>
	<key>PROJECT_ID</key>
	<string>oonzoo-449d1</string>
	<key>STORAGE_BUCKET</key>
	<string>oonzoo-449d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743323809355:ios:4a59cce041ff031e66ffce</string>
</dict>
</plist>